/* Mixins */

// Global Mixins

@mixin mfp-btn-shadow($size, $br) {
  width: $size;
  height: $size;
  border-radius: $br;
}

@mixin mfp-bg-color-op {
  background: #fff;
  color: #000;
  opacity: .65;
}

// Mobile Buttons Position

@mixin button-position($top, $bottom, $left, $right) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}
