@import "custom-lightbox-mixin";

// Core

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 1;
  background-color: #000;
}

.mfp-container {
  position: fixed;
  overflow: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.mfp-figure {
  &:after {
    top: 0;
    bottom: 0;
  }
}

img.mfp-img {
  padding: 0;
}

.mfp-force-scrollbars {
  .mfp-img {
    max-width: 100%;
  }
}

// Title

@if $hide-download-button == "true" {
  .mfp-title {
    display: none !important;
    @if $show-download-button-pm == "true" {
      .archetype-private_message & {
        display: -webkit-box !important;
      }
    }
  }
}

.mfp-title {
  visibility: hidden;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  padding: 0;
  // Download button
  a.image-source-link {
    &:first-child {
      visibility: visible;
      position: fixed;
      @include button-position(auto, 0, 0, auto);
      .mobile-view & {
        @include button-position(0, auto, 0, auto);
      }
      @include mfp-bg-color-op;
      font-size: var(--font-down-2);
      cursor: pointer;
      border: 5px solid transparent;
      z-index: 1046;
      &:hover {
        opacity: 1;
        color: #000;
      }
    }
  }
}

// Counter

.mfp-counter {
  right: 10px;
  left: auto;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  @include mfp-bg-color-op;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

// Buttons

.mfp-close-btn-in .mfp-close {
  display: none;
}

.close-btn {
  @include mfp-align;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 1.2em;
  border: none;
  padding: 0;
  @include mfp-bg-color-op;
  @include mfp-btn-shadow(40px, 50%);
  cursor: pointer;
  z-index: 1046;
  .mobile-view & {
    left: 10px;
    bottom: 10px;
    top: auto;
  }
  &:hover {
    opacity: 1;
  }
}

button.mfp-arrow {
  margin: -54px 0 0;
  top: calc(50% + 30px);
  background: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: all 0.2s linear;
  padding: 0;
  &:before {
    display: none;
  }
  &:after {
    content: "";
    position: relative;
    left: 16px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    margin-top: unset;
    margin-left: unset;
  }
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  border: medium;
}

.mfp-arrow-left {
  left: 20px;
  transform: rotate(-45deg);
  @media screen and (max-width: 900px) {
    left: 20px;
    transform-origin: unset;
    .mobile-view & {
      left: 10px;
    }
  }
  &:after {
    top: 2px;
    border-right: none;
    margin-left: unset;
  }
  &:hover {
    transform: translate3d(-5px, 0, 0) rotate(-45deg);
    .mobile-view & {
      transform: rotate(-45deg);
    }
  }
}

.mfp-arrow-right {
  right: 20px;
  transform: rotate(135deg);
  @media screen and (max-width: 900px) {
    right: 20px;
    transform-origin: unset;
    .mobile-view & {
      right: 10px;
    }
  }
  &:after {
    top: 2px;
    border-left: none;
    margin-left: unset;
    margin-top: unset;
  }
  &:hover {
    transform: translate3d(5px, 0, 0) rotate(135deg);
    .mobile-view & {
      transform: rotate(135deg);
    }
  }
}

.full-size-btn {
  position: fixed;
  @include button-position(20px, auto, auto, 70px);
  z-index: 1046;
  .mobile-view & {
    @include button-position(auto, 10px, 60px, auto);
  }
  button {
    @include mfp-align;
    @include mfp-bg-color-op;
    @include mfp-btn-shadow(40px, 50%);
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    &:hover {
      opacity: 1;
    }
    &.minus-btn {
      display: none;
    }
  }
}

.mfp-bottom-bar {
  margin-top: -25px;
}

// Custom zoom

.mfp-full-size-scrollbars {
  .mfp-img {
    max-width: none !important;
    max-height: none !important;
  }
  .mfp-figure {
    overflow: auto;
    figure {
      overflow: auto;
    }
  }
  button.mfp-arrow {
    position: fixed;
  }
  .full-size-btn {
    .minus-btn {
      display: flex;
    }
    .plus-btn {
      display: none;
    }
  }
}

// Buttons position on mobile

.mobile-view {
  // Close and Zoom button position
  @if $buttons-position-mobile == "close and zoom top right, download top left" {
    .close-btn {
      @include button-position(10px, auto, auto, 10px);
    }
    .full-size-btn {
      @include button-position(10px, auto, auto, 60px);
    }
    .image-source-link {
      @include button-position(0 !important, auto !important, 0 !important, auto !important);
    }
  }
  @if $buttons-position-mobile == "close and zoom top right, download bottom left" {
    .close-btn {
      @include button-position(10px, auto, auto, 10px);
    }
    .full-size-btn {
      @include button-position(10px, auto, auto, 60px);
    }
    .image-source-link {
      @include button-position(auto !important, 0 !important, 0 !important, auto !important);
    }
  }
}
