.mfp-zoom-out-cur {
  --lightbox-bg-color: #000;
  --lightbox-icon-color: #ccc;
  --lightbox-z-index: 1046;
  
  overflow: hidden;
  touch-action: none;
  
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 1;
  }
  
  .mfp-wrap {
    .mfp-image-holder {
      position: fixed;
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
      
      .mfp-figure {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--lightbox-bg-color);
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        &:after {
          top: 0;
          bottom: 0;
        }

        img.mfp-img {
          cursor: zoom-in;
          pointer-events: auto;
        }

        .mfp-bottom-bar {
          position: fixed;
          top: auto;
          margin-top: unset;
          pointer-events: auto;
          .mfp-title {
            position: fixed;
            bottom: 50px;
            margin-left: 1em;
            margin-right: 1em;
            max-height: 15em;
            max-width: 40em;
            overflow: auto;
            visibility: hidden;
            background: var(--lightbox-bg-color);
            color: var(--lightbox-icon-color);
            font-size: var(--font-down-1);
            padding: 0.5em;
          }     
          .mfp-counter {
            position: fixed;
            right: auto;
            left: 1em;
            top: 1em;
            bottom: auto;
            color: var(--lightbox-icon-color);
          }
        }
      }
    }

    &.mfp-force-scrollbars {
      .mfp-image-holder {
        .mfp-figure {
          .discourse-touch & {
            pointer-events: auto;
          }
          img.mfp-img {
            padding: 0;
            cursor: zoom-out;
          }
          .mfp-bottom-bar {
            display: none;
          }
        }
      }
    }
  }

  .mfp-preloader {
    z-index: 1045;
  }
}

// Buttons
.mfp-close-btn-in .mfp-close {
  display: none;
}

.lightbox-control-buttons-top {
  position: fixed;
  display: flex;
  top: 0.5em;
  right: 0.5em;
  z-index: var(--lightbox-z-index);
  .mfp-force-scrollbars & {
    display: none;
  }
  .btn {
    cursor: pointer;
    .d-icon {
      color: var(--lightbox-icon-color);
    }
    .discourse-no-touch & {
      &:hover,
      &:focus {
        .d-icon {
          color: var(--tertiary);
        }
      }
    }
  }
}

.full-size-btn {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  z-index: var(--lightbox-z-index);
  .btn {
    cursor: pointer;
    .d-icon {
      color: var(--lightbox-icon-color);
    }
    .discourse-no-touch & {
      &:hover,
      &:focus {
        .d-icon {
          color: var(--tertiary);
        }
      }
    }
  }
}

.title-toggle-container {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  z-index: var(--lightbox-z-index);
  .mfp-force-scrollbars & {
    display: none;
  }
  .btn {
    cursor: pointer;
    .d-icon {
      color: var(--lightbox-icon-color);
    }
    .discourse-no-touch & {
      &:hover,
      &:focus {
        .d-icon {
          color: var(--tertiary);
        }
      }
    }
  }
}

// Arrows
button.mfp-arrow {
  margin: -13px 0 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all .2s linear;
  padding: 0;
  &:active {
    margin-top: -13px;
  }
  .mfp-force-scrollbars & {
    display: none;
  }
  .mobile-view & {
    display: none;
  }
  &:before {
    display: none;
  }
  &:after {
    content: "";
    position: relative;
    left: 0.5em;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--lightbox-icon-color);
    border-left: 2px solid var(--lightbox-icon-color);
    margin-top: unset;
    margin-left: unset;
  }
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  border: medium;
}

.mfp-arrow-left {
  left: 1em;
  transform: rotate(-45deg);
  &:after {
    top: 2px;
    border-right: none;
    margin-left: unset;
  }
}

.mfp-arrow-right {
  right: 1em;
  transform: rotate(135deg);
  &:after {
    top: 2px;
    border-left: none;
    margin-left: unset;
    margin-top: unset;
  }
}

// Custom zoom
.mfp-force-scrollbars {
  .mfp-figure {
    overflow: auto;
    figure {
      overflow: auto;
    }
  }
  button.mfp-arrow {
    position: fixed;
  }
}
